<h1> Collaborators for <%= @wiki.name %> </h1>
<body>Here are the Collaborators </body>

<%= form_for @collaborator do  %>

<% for user in User.find(:all) %>
<div>
  <%= check_box_tag "user_ids[]", user.id %>
  <%= user.email %>
</div>
<% end %>
<%= submit_tag "Add Collaborators!" %>
<% end %>